.about-section {
    background-color: #111827; // Dark theme
    color: #f3f4f6; // Light text for contrast
    padding: 60px 0;
  
    .text-highlight {
      color: #FACC15; // Highlighted color
      font-weight: bold;
      text-align: left;
    }
  
    h2, h3 {
      text-align: left;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.1rem;
      line-height: 1.6;
      text-align: left;
    }
  
    ul {
      list-style: none;
      padding: 0;
      text-align: left;
    }
  
    li {
      font-size: 1.1rem;
      margin: 8px 0;
    }
    .skills-list li {
      display: flex;
      align-items: left;
      margin-bottom: 10px;
      justify-content: left;
      
      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        object-fit: contain;
      }
    }

}
  